/* #region Variables */
:root {
    /* Colors */
    --iris: #4d5ae5;
    --navy-blue: #2e2f42;
    --slate: #434455;
    --white: #fff;
    --ocean: #404bbf;
    --cloud: #f4f4fd;
    --cornflower: #e7e9fc;
    --light-slate: #8e8f99;
    --green: #31d0aa;
    /* Fonts */
    --primary-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;

    /* Others */
    --transition-slow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --outer-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
/* #endregion */

/* #region Common */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--primary-family);
    color: var(--slate);
    background-color: var(--white);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

ul {
    padding: 0;
    list-style-type: none;
}

.link {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--navy-blue);
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* #endregion */

/* #region Header */
.logo {
    text-transform: uppercase;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    color: var(--iris);
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
}

.page-header .logo .logo-span {
    color: var(--navy-blue);
}

.page-nav-links .link {
    position: relative;
    color: var(--navy-blue);
    font-weight: 500;
}

.page-nav-links .link::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: transparent;
    border-radius: 2px;
}

.page-nav-links .link.active::after {
    background-color: var(--ocean);
}

.page-nav-links .link:hover,
.page-nav-links .link:active,
.page-nav-links .link:focus,
.page-nav-links .link.active,
.contacts-list .link:hover,
.contacts-list .link:focus {
    color: var(--ocean);
}

.contacts {
    font-style: normal;
}

.contacts-list .link {
    color: var(--slate);
}

.page-header {
    border-bottom: 1px solid var(--cornflower);
    box-shadow: var(--outer-shadow);
}

.page-header .container,
.page-header .page-nav,
.page-nav-links,
.contacts-list {
    display: flex;
}

.page-header .container {
    justify-content: space-between;
}

.page-header .page-nav {
    align-items: center;
}

.page-header .link {
    display: block;
    padding: 24px 0;
}

.page-nav-links,
.contacts-list {
    gap: 40px;
}

.page-nav-links .link,
.contacts-list .link {
    transition: color var(--transition-slow);
}
/* #endregion */

/* #region Sections */
.section {
    padding: 120px 0;
}

.section-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.hero-section {
    max-width: 1440px;
    background-color: var(--navy-blue);
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/hero/people-office.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 188px 0;
    text-align: center;
    margin: 0 auto;
}

.hero-section .section-title {
    color: var(--white);
    font-size: 56px;
    line-height: 1.07;
    text-transform: none;
    max-width: 496px;
    margin: 0 auto;
}

.hero-section .btn.primary {
    margin-top: 48px;
}

.team-section {
    background-color: var(--cloud);
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.list .item {
    width: calc((100% - 72px) / 4);
}

.portfolio-list {
    row-gap: 48px;
}

.portfolio-list .item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow var(--transition-slow);
}

.portfolio-list .item:hover, 
.team-list .item {
    box-shadow: var(--outer-shadow);
}

.list.portfolio-list .card-content {
    padding: 32px 16px;
    border-right: 1px solid var(--cornflower);
    border-bottom: 1px solid var(--cornflower);
    border-left: 1px solid var(--cornflower);
}

.portfolio-image-container {
    position: relative;
    overflow: hidden;
}

.portfolio-image-container .overlay {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--iris);
    color: var(--cloud);
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform var(--transition-slow);
}

.portfolio-image-container:hover .overlay {
    transform: translateY(0);
}

.list img {
    width: 100%;
}

.list .card-content {
    padding: 32px 0;
}

.list .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: 0 0 8px;
}

.section-title,
.list .title {
    text-transform: capitalize;
}

.team-list .item {
    background-color: var(--white);
    text-align: center;
    border-radius: 0px 0px 4px 4px;
}

.team-list .content {
    margin-bottom: 8px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* #endregion */

/* #region Buttons */
.btn {
    display: block;
    min-width: 169px;
    min-height: 56px;
    font-weight: 500;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    margin: 0 auto;
}

.btn.primary {
    background-color: var(--iris);
    color: var(--white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
}

.btn.primary:hover,
.btn.primary:focus {
    background-color: var(--ocean);
}

.btn.primary {
    transition: background-color var(--transition-slow);
}

.btn-subscription {
    padding: 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    min-height: 40px;
}
/* #endregion */

/* #region Icons */
.feature-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--cloud);
    border-radius: 4px;
    border: 1px solid var(--light-slate);
    padding: 24px 100px;
    margin-bottom: 8px;
}

.feature-icon-container .feature-icon {
    height: 64px;
    width: 64px;
}

.social-media-icons {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.social-media-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--iris);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: background-color var(--transition-slow);
}

.social-media-icon-link:hover,
.social-media-icon-link:focus {
    background-color: var(--ocean);
}

.social-media-icon {
    fill: var(--cloud);
    height: 16px;
    width: 16px;
}

.submit-icon {
    fill: var(--white);
}
/* #endregion */

/* #region Footer */
.page-footer {
    background-color: var(--navy-blue);
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.page-footer .footer-info {
    margin-right: 120px;
}

.page-footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.page-footer .content {
    max-width: 264px;
}

.page-footer .social-content {
    display: block;
    font-weight: 500;
    margin-bottom: 16px;
    color: var(--white);
}

.page-footer .social-media-icons {
    gap: 16px;
}

.page-footer .social-media-icon-link:hover,
.page-footer .social-media-icon-link:focus {
    background-color: var(--green);
}

.page-footer, 
.page-footer .logo .logo-span {
    color: var(--cloud);
}

.page-footer .subscription-fields {
    display: flex;
}

.page-footer .social-info {
    margin-right: 80px;
}
/* #endregion */

/* #region Forms */
.form-label {
    display: block;
    margin-bottom: 16px;
    color: var(--white);
    font-weight: 500;
}

.form-input {
    padding: 8px 16px;
    margin-right: 24px;
    background: var(--navy-blue);
    width: 264px;
    border-radius: 4px;
    border: 1px solid var(--white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-height: 40px;
    outline: none;
}

.form-input,
.form-input::placeholder {
    color: var(--white);
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.48px;
}
/* #endregion */